#body-employment
{
	input.span2 , input.span3 , input.span4 , input.span5 , input.span6 
	{
		font-size: 12px;
		height: 29px;
		margin: 0px;
	}

	input.login
	{
		height : 2em;
	}

	.set_name
	{
		display: inline-block;
    	width: 4em;
	}

	.box_input
	{
		padding-bottom: 1em;
	}

	.name_input
	{
		float: left;
    	width: 9em;
	}
	label input
	{
		margin-top: 0;
	}
}


#home_register
{
	min-height: 20em;
	.btn.btn-inverse
	{
		height: 4em;
	    margin-top: 2em;
	    padding-top: 1em;
	}
}
