#body-employment input.span2,
#body-employment input.span3,
#body-employment input.span4,
#body-employment input.span5,
#body-employment input.span6 {
  font-size: 12px;
  height: 29px;
  margin: 0px;
}
#body-employment input.login {
  height: 2em;
}
#body-employment .set_name {
  display: inline-block;
  width: 4em;
}
#body-employment .box_input {
  padding-bottom: 1em;
}
#body-employment .name_input {
  float: left;
  width: 11em;
}
#body-employment label input {
  margin-top: 0;
}
#home_register {
  min-height: 20em;
}
#home_register .btn.btn-inverse {
  height: 4em;
  margin-top: 2em;
  padding-top: 1em;
}
#freelance .table-bordered tbody tr td {
  padding: 10px;
}
#freelance .table-bordered .set_table_freelance tr td {
  border-left: 0px solid #DDDDDD;
}
#freelance .table-bordered .set_table_freelance tr td.set1 {
  width: 14em;
}
#freelance .table-bordered .set_table_freelance tr td.set2 {
  width: 11em;
}
#freelance tbody div.scrollit {
  overflow: scroll;
  height: 20em;
}
#freelance .dataTables_length {
  display: none;
}
#freelance .dataTables_filter input {
  height: 2em;
  margin: 0;
}
#freelance .dataTables_info {
  display: none;
  width: 20em;
}
#freelance .dataTables_paginate {
  display: inline-table;
  width: 7em;
}
#freelance .dataTables_paginate a {
  padding-left: 1em;
}
#freelance .paginate_active {
  color: #FF0D0D;
}
#freelance .dataTables_wrapper a {
  cursor: pointer;
}
.freelance-box-home label {
  display: none;
}
.profile-freelance .name_input {
  font-weight: bold;
}
.set-header-profile {
  color: #00B2C2;
}
.display_none {
  display: none;
}
.page-add-project input[type="text"],
.page-add-project input[type="password"],
.page-add-project input[type="datetime"],
.page-add-project input[type="datetime-local"],
.page-add-project input[type="date"],
.page-add-project input[type="month"],
.page-add-project input[type="time"],
.page-add-project input[type="week"],
.page-add-project input[type="number"],
.page-add-project input[type="email"],
.page-add-project input[type="url"],
.page-add-project input[type="search"],
.page-add-project input[type="tel"],
.page-add-project input[type="color"] {
  height: 27px;
  padding: 1px 1px 1px 4px;
}
.form-horizontal .controls {
  margin-left: 11em;
}
